<footer class="bg-primary text-center py-4">
  <div class="container d-flex justify-content-between align-items-center flex-wrap">
    <a href="https://wa.me/4761460931" class="text-decoration-none me-4 d-flex align-items-center">
      <img src="whatsapp.png" alt="" width="40px;">
      <p class="text-white mb-0 ms-2">477-022-12-02</p>
    </a>
    <a href="tel:+4761460931" class="text-decoration-none me-4 d-flex align-items-center">
      <img src="phone.png" alt="" width="40px;">
      <p class="text-white mb-0 ms-2">476-146-09-31</p>
    </a>
    <img src="codex.png" alt="" width="110px;">
    <a href="https://www.google.com.mx/maps/place/Universidad+Tecnol%C3%B3gica+de+Le%C3%B3n/@21.0636171,-101.5996732,15z/data=!4m10!1m2!2m1!1sutl!3m6!1s0x842b963652f40f0d:0xa7d88da0ad8eff8a!8m2!3d21.0636171!4d-101.5816488!15sCgN1dGwiA4gBAZIBCnVuaXZlcnNpdHmqAUMKDS9nLzExaDE1eHg4MXkQASoHIgN1dGwoADIeEAEiGjGiAx1fLaZvp0FGVPi7s3d8rVxrc3W4ZUSlMgcQAiIDdXRs4AEA!16s%2Fg%2F11bwdqj7w2?entry=ttu&g_ep=EgoyMDI1MDgwNC4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="text-decoration-none me-4 d-flex align-items-center">
      <img src="gps.png" alt="" width="40px;">
      <p class="text-white mb-0 ms-2">León, Gto.</p>
    </a>
    <a href="https://mail.google.com/mail/u/0/?hl=es-419#inbox?compose=CllgCJNvvRMXGDSMsgWKTlXSHtRwkBnXRwhBSpsLDTMwRLBvxrMRgHMDDMmPKkMpMcTwfxsgllq" class="text-decoration-none d-flex align-items-center">
      <img src="gmail.png" alt="" width="40px;">
      <p class="text-white mb-0 ms-2">codexia.com</p>
    </a>
  </div>
</footer>
