<div class="min-vh-100 bg-azul-1">
    <div class="text-center pt-5">
        <h1 class="text-primary fw-normal">CONÓCENOS</h1>
    </div>
    <div class="row g-0">
        <div class="col-12 px-5 text-center">
            <p class="mt-3">CODEXIA nace con la visión de transformar los desafíos actuales en oportunidades mediante soluciones tecnológicas innovadoras. Nuestra esencia radica en combinar el poder del código con la inteligencia artificial para no solo resolver necesidades, sino también elevar la forma en que las personas y las organizaciones interactúan con la tecnología.
            Creemos firmemente que la creatividad, la automatización y el pensamiento estratégico pueden redefinir la eficiencia, la experiencia del usuario y la toma de decisiones. En CODEXIA no solo construimos software: creamos herramientas inteligentes que impulsan el cambio.
        </p>
        </div>
        <div class="col-6">
            <img src="tanque2.png" alt="Tanque" width="100%">
        </div>
        <div class="col-6">
            <img src="estadisimg.png" alt="Tanque" width="100%">
        </div>
    </div>
    </div>
