<div class="p-5" id="inicio">
  <div class="shadow bg-primary rounded-5 bg-gradient-custom">
    <nav class="navbar navbar-expand-lg navbar-light pt-4 position-relative">
      <div class="container d-flex justify-content-center">
        <ul class="navbar-nav d-flex flex-row gap-5">
          <li class="nav-item">
            <a class="nav-link fs-5" href="#inicio">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5" href="#servicios">SERVICIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5" href="#conocenos">CONÓCENOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5" href="#contactanos">CONTÁCTANOS</a>
          </li>
        </ul>
      </div>

      <div style="position: absolute; top: 2rem; right: 2rem; text-align: center;">
        <img src="login.png" alt="" width="30px">
        <a routerLink="/login" class="d-block text-primary mt-1 text-decoration-none">Iniciar sesión</a>
      </div>
    </nav>
    <div class="w-100 min-vh-100 d-flex justify-content-center align-items-center">
      <div class="text-center">
        <img src="logo.png" alt="FLUIR" width="300px" />
        <h2 class="text-primary">Función Lógica para el Uso Inteligente del Recurso</h2>
      </div>
    </div>
  </div>

</div>
<div id="servicios">
  <app-servicios></app-servicios>
</div>
<div id="conocenos">
  <app-conocenos></app-conocenos>
</div>
<div id="contactanos">
  <app-contactanos></app-contactanos>
</div>
<app-footer></app-footer>